<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Test Send Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
    <span th:text="${msg}"></span>

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#78ab46" style="padding: 40px 0 30px 0;">
                <!--<img src="cid:logo.png" alt="https://memorynotfound.com" style="display: block;" />-->
            </td>
        </tr>
        <tr>
            <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
                <p>Dear PCBONLINE User,</p>
                <p>Please click the link below to verify your email address:</p>
                <a th:text="${url}" target="_blank" th:href="${url}"></a>
                <p>Confirming your email address will allow you to reset your password PCBONLINE. (If you can’t open the URL via a click, please copy this URL and open it in your browser.)</p>
                <p>Best wishes,</p>
                <p>PCBONLINE Team</p>
            </td>
        </tr>
        <!--<tr>-->
            <!--<td bgcolor="#777777" style="padding: 30px 30px 30px 30px;">-->
                <!--<p th:text="${signature}"></p>-->
                <!--<p th:text="${location}"></p>-->
                <!--<p th:text="${url}"></p>-->
            <!--</td>-->
        <!--</tr>-->
    </table>
</body>
</html>